h1 {
    color: aqua;
    font-family: Verdana;
    background-color: black;
text-align: center;
}
h2{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-transform: Capitalize;
}
p{
    color: gray;
    line-height: 28px;

}
div{
    color: black;
}

.Destacados{
    color: aliceblue;
    font-weight: bold;
}
#pupi{
    width: 192px;
    height: 200px;
    background-color: yellow;
    padding: 10px;
    border: 5px solid red;

    
}
